<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.mshare.main"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>

    <!-- NFC并不是必须的 -->
    <uses-feature android:name="android.hardware.nfc" android:required="false"/>
    
    <supports-screens
        android:anyDensity="true" />
    
    <application
        android:name="org.mshare.main.MShareApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name="org.mshare.main.JoinConn"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="org.mshare.main.NewConn"
            android:label="@string/app_name" >
        </activity>
        <!-- 修改服务器配置 -->
        <activity
            android:name="org.mshare.main.ServerSettingActivity"
			android:label="@string/activity_label_server_setting"
            android:parentActivityName="org.mshare.main.NewConn" >
        	<!-- Parent activity meta-data to support API level 7+ -->
            <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="org.mshare.main.NewConn" />
		</activity>
		
		<!-- 用于显示登录二维码的Activity -->
		<activity
            android:name="org.mshare.main.QRCodeConnectActivity"
            android:label="@string/activity_label_qrcode_connect"
            android:parentActivityName="org.mshare.main.NewConn" >
            <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="org.mshare.main.NewConn" />
		</activity>
		<activity
            android:name="org.mshare.scan.ScanActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:screenOrientation="portrait" >
        </activity>
		<activity
            android:name="org.mshare.main.FtpMainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="org.mshare.main.FtpFileManage"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="org.mshare.nfc.NfcServerActivity"
            android:label="@string/activity_label_nfc" >
        </activity>
        <activity
            android:name="org.mshare.main.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <receiver android:name="org.mshare.file.MShareFileBrowser">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_REMOVED"/>
            </intent-filter>
        </receiver>
        
        <receiver 
            android:name="org.mshare.ftp.server.RequestStartStopReceiver"
            >
            <intent-filter>
                <action android:name="org.mshare.ftp.server.ACTION_START_FTPSERVER"/>
                <action android:name="org.mshare.ftp.server.ACTION_STOP_FTPSERVER"/>
            </intent-filter>
        </receiver>
        
        <service android:name="org.mshare.ftp.server.FsService"></service>
        
    </application>

</manifest>
